<section class="container page">
  <article class="h-entry">
    <header>
      <h1 class="title p-name">
        <a class="title-link u-url" href="{{ .Permalink | safeURL }}">
          {{ .Title }}
        </a>
      </h1>
      {{ if .Date }}
        <p style="font-size: medium; font-style: italic;">Published by <a class="p-author h-card" href="{{ .Site.BaseURL }}">{{ .Site.Params.author }}</a> on <a href="."><time class="dt-published">{{ .Date | time.Format ":date_full" }}</time></a></p>
      {{ end }}
    </header>
    <div class="e-content">
      {{ .Content }}
    </div>
    <!-- {{ $baseURL := .Site.BaseURL }}
    <div class="category-list">
      {{ range .Params.categories }}
        <span>{{ . }}</span> 
      {{ end }}
    </div>
    <div class="tag-list">
      {{ range .Params.tags }}
        <span>{{ . }}</span>
      {{ end }}
    </div>
    <div style="display: none;">
      {{ range .Params.categories }}
        {{ $s := lower . }}
        <a class="p-category" href="{{ $baseURL }}categories/{{ replace $s " " "-" }}">{{ . }}</a> -->
      <!-- {{ end }} -->
    <!-- </div> -->
  </article>
</section>
